<form action="/search" method="POST">
  <div class="input-group">
    <span class="input-group-text">IP</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>

  <div class="text-align-center mt-4">
    <button type="submit" class="btn signin-button">查詢</button>
  </div>

</form>